*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: rgb(14, 1, 14);
    color: white;
}

main{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#calculator{
    border: 2px solid rgb(193, 185, 185);
    border-radius: 6px;
    width: 300px;
}

#display{
    margin:10px;
    width: 92%;
    font-size: 25px;
    height: 45px;
}

.button-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button{
    color: white;
    width: 70px;
    height: 70px;
    font-size: 20px;
    margin: 4px;
}